*{
   box-sizing: border-box;
}

body {
        font-family: "Mulish", Arial, sans-serif;
    margin: 0;
}

#game {
    width: 90vw;
    height: 90vw;
    margin-left: 7vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30vw, 1fr));
}

main {
    display: flex;
    flex-direction: column;
}

.dom {
    aspect-ratio: 1 / 1;
    border: 1px black solid;
    height: 30vw;
    margin: 0;
    font-size: 10vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1vw;
}

.sub {
    aspect-ratio: 1 / 1;
    border: 1px black solid;
    margin: 0;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    padding: 1vw;
    background-color: white;
}

.big {
    font-size: 10vw;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.dragging {
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

.green {
    background-color: rgb(0, 255, 0);
}

.hide {
    display: none;
}
@media screen and (min-width: 800px) {
    #game{
        grid-template-columns: repeat(auto-fit,minmax(20vw, 1fr));
    }

    main {
        flex-direction: row;
    }

    #game {
        width: 60vw;
        height: 60vw;
        margin-left: 20vw;
    }

    .dom {
        height: 20vw;
    }
}